* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Flame', sans-serif;
    color: #502314;
}
/*resolution mobile*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f5ebdc;
    padding: 1px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header__logo {
    width: 48px;
}

.header__nav {
    display: none;
}

.bi {
    font-size: 40px;
}

.main {
    margin-top: 60px;
}

.carousel-inner {
    max-width: 100%;
    height: 455px;
}

.h-455 {
    height: 455px; 
    max-height: 100%; 
    object-fit: cover; 
}

.ubication {
    background-color: #f5ebdc;
    padding-top: 25px;
}

.ubication__container-elements {
    background-color: #efe0cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubication__locator {
    width: 85%;
    margin-bottom: 30px;
}

.ubication__title {
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
}

.ubication__paragraph {
    margin-bottom: 20px;
}

.ubication__container-input-button {
    position: relative;
}

.ubication__input {
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 25px;
    border: none;
    border-color: #d7c7b5;
    border-radius: 8px;
}

.ubication__input::placeholder {
    color: #502314;
    font-size: 16px;
}

.ubication__buttonn {
    position: absolute;
    border-radius: 8px;
    right: 1px;
    top: 1px;
    border: none;
    background-color: #ffff;
}

.ubication__button-img {
    width: 23px;
    margin: 12px 20px 12px 12px;
}

.ubication__image {
    width: 230px;
}

.cards {
    background-color: #f5ebdc;
    padding: 45px 0px 20px 0px;
}

.cards__container-texts {
    padding: 0px 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards__title-first {
    font-size: 27px;
    font-weight: bold;
}

.cards__link-vt {
    text-decoration: none;
    font-size: 14px;
    color: #d72300;
}

.slider-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
}
  
.slider {
    display: flex;
    scroll-snap-type: x mandatory;
}
  
.slider-item {
    flex: 0 0 100%; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    scroll-snap-align: start;
}

.slider-img {
    width: 100%;
    border-radius: 12px;
}
  
.slider-text {
    background-color: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.slider-link{
    text-decoration: none;
    margin-bottom: 3px;
    margin-top: 20px;
    color: #502314;
    font-size: 26px;
    font-weight: bold;
}

.orders {
    background-color: #d72300;
    padding-top: 50px;
}

.orders__principal-container {
    background-color: #ffff;
    padding: 38px 20px;
}

.orders__principal-title {
    font-size: 27px;
    font-weight: bold;
}

.orders__principal-container-button-image {
    display: flex;
    justify-content: center;
}

.orders__principal-button-image {
    position: relative;
    width: 50%;
}

.btn-rappi,
.btn-pedidosya {
    width: 97%;
    height: 65px;
    background-color: inherit;
    border-radius: 13px;
    border: none;
}

.btn-rappi {
    box-shadow: -1px 2px 6px -1px rgba(0,0,0,0.13);
}

.btn-pedidosya {
    box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.13);
}

.orders__principal-button:focus {
    border: 3px solid rgb(210, 0, 0);
}

.orders__principal-image-rappi {
    width: 40px;
}

.orders__principal-image-pedidosya {
    width: 65px;
}

.orders__principal-container-order {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.orders__principal-order {
    text-decoration: none;
    background-color: #d72300;
    color: #ffff;
    padding: 0px 75px;
    border-radius: 20px;
}

.orders__secondary-container {
    padding: 100px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    order: 0;
}

.order-0-1 {
    order: 2;
}

.order-0-2 {
    order: 1;
}

.orders__secondary-title {
    font-size: 40px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 30px;
}

.orders__secondary-image {
    width: 100px;
    height: 31px
}

.google-play-image {
    margin-right: 15px;
}

.orders__paragraph {
    color: #ffff;
    font-size: 12px;
    margin-top: 30px;
}

.orders__secondary-container-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.orders__secondary-image-phone {
    width: 100%;
}

.footer {
    background-color: #502314;
    padding: 40px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.footer__img {
    width: 200px;
    height: auto;
}

.footer__info {
    padding-top: 30px;
    color: #ffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer__title {
    font-weight: bold;
    font-size: 22px;
}

.footer__links {
    margin-top: 18.5px;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer__line {
    color: #ffff;
}

.footer__footer-2 {
    display: flex;
    flex-direction: column;
    order: 0;
}

.footer-order-1 {
    order: 2;
}

.footer-order-2 {
    order: 1;
}

.footer__rights {
    color: white;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.footer__redes{
    display: flex;
}

.footer__redes img{
    width: 24px;
    margin-right: 20px;
    margin-top: 20px;
}
/*resolution tablet*/
@media (min-width: 768px){
    .ubication__locator{
        width: 94%;
}
.slider{
    width: 50%;
}

.orders__principal-container{
    margin-left: 22px;
    width: 64%;
    border-radius: 12px;
}

.orders__principal-order{
    padding: 0px 159px;
}

.orders__paragraph{
    padding-bottom: 40px;
}

}
/*resolution portatil*/
@media (min-width: 1024px){
    .bi{
        display: none;
    }

    .header{
        padding: 13px 25px;
        background-color: #f5ebdc;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .header__nav-link{
        margin-left: 30px;
        text-decoration: none;
        color: #250F00;
        font-size: 14px;
    }
    .header__nav{
        display: block;
    }

    .carousel-inner {
        max-width: 100%;
        height: 473px;
    }
    .h-455 {
        height: 473px;
        max-height: 100%;
        object-fit: cover;
    }

    .ubication__locator{
        width: 55%;
    }

    .ubication__container-elements{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 30px 50px;
        margin: 0px 20px;
        border-radius: 12px;
    }
    
    .slider{
        width: 33.33%;
    }
    .orders__principal-container{
        margin-left: 22px;
        width: 47.6%;
        border-radius: 12px;}

        .orders__principal-container-first-block{
            padding: 0px 25px;
        }
        
        .orders__principal-order{
            padding: 0px 135px;
        }
        .orders__secondary-container{
            display: flex;
            flex-direction: row-reverse;
        }

        .orders__secondary-container-title {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        .footer__container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer__info{
            padding: 0;
            margin: 0;
        }
        
        .footer__footer-2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-order-1 {
            order: 1;
        }
        
        .footer-order-2 {
            order: 2;
        }


}







































  










  





















































/* .header {
    padding: 10px 387px;
    background-color: #f5ebdc;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 48px;
}

.header__nav-link {
    margin-left: 30px;
    text-decoration: none;
    color: #250f00;
    font-size: 14px;
}

.main__imagen {
    width: 100%;
}

.ubicacion {
    padding: 25px 387px 70px;
    background-color: #f5ebdc;
}

.ubicacion__contenedor-elementos {
    background-color: #efe0cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 55px 50px;
}

.ubicacion__localizador {
    width: 50%;
}

.ubicacion__titulo {
    margin-bottom: 15px;
}

.ubicacion__parrafo {
    margin-bottom: 25px;
}

.ubicacion__contenedor-input-boton {
    display: flex;
    flex-direction: row;
}

.ubicacion__input {
    border: 0.5px solid #64605e;
    padding: 20px;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    border-color: #d7c7b5;
    position: relative;
}

.ubicacion__input::placeholder {
    color: inherit;
    font-size: 17px;
}

.ubicacion__boton {
    padding: 0px 10px;
    border: none;
    position: absolute;
    left: 900px;
    top: 870px;
    font-size: 20px;
    font-weight: bold;
}

.ubicacion__boton:hover {
    cursor: pointer;
}

.ubicacion__contenedor-imagen {
    width: 40%;
    display: flex;
    justify-content: center;
}

.ubicacion__imagen {
    width: 230px;
    align-items: center;
    justify-content: center;
}

.cartas {
    background-color: #f5ebdc;
}

.cartas__contenedor-textos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 387px 30px;
}

.cartas__link-ver-todo {
    font-size: 14px;
    text-decoration: none;
    color: rgb(210, 0, 0);
}

.cartas__contenedor-cartas {
    padding: 0px 387px 30px;
    display: flex;
    justify-content: space-between;
}

.cartas__imagen {
    width: 360px;
    height: 240px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cartas__contenedor-link-parrafo {
    width: 350px;
}

.cartas__link {
    text-decoration: none;
    font-size: 27px;
    font-weight: bolder;
}

.cartas__parrafo {
    margin-top: 10px;
    margin-bottom: 30px;
}

.pedidos {
    background-color: rgb(210, 0, 0);
    padding: 20px;
}

.pedidos__principal-contenedor {
    background-color: #fff;
    width: max-content;
    padding: 30px;
}

.pedidos__principal-contenedor-boton-imagen {
    display: flex;
    padding: 15px 0px;
}

.pedidos__principal-boton {
    border: none;
    background-color: inherit;
}

.pedidos__principal-boton:focus {
    border: 3px solid rgb(210, 0, 0);
}

.pedidos__principal-boton:hover {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.13);
    cursor: pointer;
}

.pedidos__principal-boton {
    width: 200px;
    border-radius: 13px;
}

.btn-rappi {
    padding: 14px 0px;
}

.btn-pedidosya {
    padding: 1px 0px;
}

.pedidos__principal-imagen-rappi {
    width: 42px;
}

.pedidos__principal-imagen-pedidosya {
    width: 89px;
} */



















